.tag-keynote {
  background-color: var(--keynote);
}

.tag-workshop {
  background-color: var(--workshop);
}

.tag-lunch {
  background-color: var(--lunch);
}

.tag-apero {
  background-color: var(--apero);
}

.tag-pause {
  background-color: var(--pause);
}

.tag-general {
  background-color: var(--general);
}

section .tags {
  padding: var(--space-1);
  border-radius: var(--space-2);
  background: var(--darken-1);
  border: thin solid var(--darken-2);
  text-shadow: var(--extruded-light);
}


.tag-open {
  background-image: url('/images/backgrounds/open.jpg');
}

.tag-pause {
  background-image: url('/images/backgrounds/pause.jpg');
}

.tag-lunch {
  background-image: url('/images/backgrounds/lunch.jpg');
}

.tag-apero {
  background-image: url('/images/backgrounds/party.jpg');
}
